@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  var post = AsTyped(DynamicModel.Post as object);
  var imgSettings = AsDynamic(DynamicModel.Settings, Settings.Images.Blog, "Content");
  var hasImg = Text.Has(post.Url("Image"));
  var publicationMoment = post.DateTime("PublicationMoment");
}

@* Image of the post *@
@if (hasImg) {
  <figure class="effect-zoom">
    @Kit.Image.Picture(post.Field("Image"), settings: imgSettings, imgAltFallback: post.String("Title"))
  </figure>
}

@* Show info to admin when the post will publish *@
@if (Edit.Enabled && publicationMoment.CompareTo(DateTime.Now) > 0) {
  <div class='alert alert-warning @(hasImg ? "mb-0" : "mb-3")' role="alert">
    @(Resources.LabelAdminPostPublishInfo + " " + publicationMoment.Date.ToString("d") + " " + publicationMoment.TimeOfDay)
  </div>
}