@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Data;
@{
  var post = MyModel.Item("Post");
  var imgSettings = MyModel.String("Settings", fallback: "Blog");
  var hasImg = Text.Has(post.Url("Image"));
  var publicationMoment = post.DateTime("PublicationMoment");
}

@* Image of the post *@
@if (hasImg) {
  <figure class="effect-zoom">
    @post.Picture("Image", settings: imgSettings, imgAltFallback: post.String("Title"))
  </figure>
}

@* Show info to admin when the post will publish *@
@if (MyUser.IsContentAdmin && publicationMoment.CompareTo(DateTime.Now) > 0) {
  <div class='alert alert-warning @(hasImg ? "mb-0" : "mb-3")' role="alert">
    @(App.Resources.String("LabelAdminPostPublishInfo") + " " + publicationMoment.Date.ToString("d") + " " + publicationMoment.TimeOfDay)
  </div>
}
