@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using ToSic.Sxc.Data
@using AppCode.Data

@{
  var post = As<BlogPost>(MyModel.Get("Post"));
  var imgSettings = MyModel.String("Settings", fallback: "Blog");
  var hasImg = post.IsNotEmpty("Image");
  var publicationMoment = post.PublicationMoment;
}

@* Image of the post *@
@if (hasImg) 
{
  <figure class="effect-zoom">
    @post.Picture("Image", settings: imgSettings, imgAltFallback: post.Title)
  </figure>
}

@* Show info to admin when the post will publish *@
@if (MyUser.IsContentAdmin && publicationMoment.CompareTo(DateTime.Now) > 0) 
{
  <div class='alert alert-warning @(hasImg ? "mb-0" : "mb-3")' role="alert">
    @(App.Resources.LabelAdminPostPublishInfo + " " + publicationMoment.Date.ToString("d") + " " + publicationMoment.TimeOfDay)
  </div>
}
