@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
@{
  /** List Header - Will generate a title and maybe description based on filters/categories selected **/

  // These variables will be filled with different infos depending on the filter that was set
  string Title = null;
  string Description = null;

  // If a Category-Filter was set, show it with description
  if (MyData["Category"].Any()) {
    var category = AsItem(MyData["Category"]);
    Title = App.Resources.String("Category") + " " + category.String("Name");
    Description = category.String("Description");
  }

  // If a Tag-Filter was set, show that
  else if (MyData["Tag"].Any()) {
    Title = App.Resources.String("Filter") + " " + AsItem(MyData["Tag"]).String("Name");
  }

  // If an Author was used to filter, show him/her + Bio
  else if (MyData["Author"].Any()) {
    var author = AsItem(MyData["Author"]);
    Title = App.Resources.String("PostsBy") + " " + author.String("FullName");
    Description = author.String("ShortBio");
  }

  // Fallback: Show normal module title
  else {
    Title = MyItem.Title;
  }
}

@if (Text.Has(Title) || Text.Has(Description)) {
  <div class="category-header mb-5">
    @if (Text.Has(Title)) {
      <h1>@Title</h1>
    }
    @if (Text.Has(Description)) {
      @Html.Raw(Description)
    }
  </div>
}