@inherits Custom.Hybrid.Razor14
@using System.Linq;
@{
  /** List Header - Will generate a title and maybe description based on filters/categories selected **/

  // These variables will be filled with different infos depending on the filter that was set
  string Title = null;
  string Description = null;

  // If a Category-Filter was set, show it with description
  if (Data["Category"].Any()) {
    var category = AsTyped(Data["Category"]);
    Title = Resources.Category + " " + category.String("Name");
    Description = category.String("Description");
  }

  // If a Tag-Filter was set, show that
  else if (Data["Tag"].Any()) {
    Title = Resources.Filter + " " + AsTyped(Data["Tag"]).String("Name");
  }

  // If an Author was used to filter, show him/her + Bio
  else if (Data["Author"].Any()) {
    var author = AsTyped(Data["Author"]);
    Title = Resources.PostsBy + " " + author.String("FullName");
    Description = author.String("ShortBio");
  }

  // Fallback: Show normal module title
  else {
    Title = Content.Title;
  }
}
<div class="category-header mb-5">
  <h1>@Title</h1>
  @Html.Raw(Description)
</div>