@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  var post = DynamicModel.Post;
  var imgSettings = AsDynamic(DynamicModel.Settings, Settings.Images.Blog, "Content");
}

@* Image of the post *@
@if (Text.Has(post.Image)) {
  var altText = Text.First(post.Field("Image").Metadata.Description, post.Title);
  <figure class="effect-zoom">
    @Kit.Image.Picture(post.Field("Image"), settings: imgSettings, imgAlt: altText)
  </figure>
}

@* Show info to admin when the post will publish *@
@if(Edit.Enabled && post.PublicationMoment.CompareTo(DateTime.Now) > 0) {
  <div class='alert alert-warning @(Text.Has(post.Image) ? "mb-0" : "mb-3")' role="alert">
    @(Resources.LabelAdminPostPublishInfo + " " + post.PublicationMoment.Date.ToString("d") + " " + post.PublicationMoment.TimeOfDay)
  </div>
}