<div class="container-fluid px-0">
  <div class="row justify-content-between">
    <div class="col-md-6 mb-3">
      <p class="h6">{{ 'SEARCH' | translate }}</p>
      <input matInput (keyup)="applyFilter($event)" type="text" class="form-control" [placeholder]="'SEARCH_IPS' | translate">
    </div>
    <div class="col-md-auto d-flex align-items-end mb-3">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col">
            <input type="text" minlength="7" [formControl]="ipControl" class="form-control" placeholder="123.456.789.123">
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-outline-danger" (click)="blockIp()">{{ 'BLOCK_IP' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="IP">
    <th mat-header-cell *matHeaderCellDef>
      IP
    </th>
    <td mat-cell *matCellDef="let ip"> {{ ip.IP }} </td>
  </ng-container>

  <ng-container matColumnDef="Created">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'BLOCK_CREATED' | translate }}
    </th>
    <td mat-cell *matCellDef="let ip"> {{ ip.Created | date: 'dd.MM.yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'ACTIONS' | translate}}
    </th>
    <td mat-cell *matCellDef="let ip">
      <button type="button" class="btn btn-outline-primary" (click)="unblockIp(ip.Id)">{{ 'UNBLOCK_IP' | translate }}</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
