@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services;
@{
  var imgSvc = GetService<IImageService>();

  var post = DynamicModel.Post;
  var imgSettings = AsDynamic(Settings.Images.Blog, Settings.Images.Content);
}

@* Image of the post *@
@if (Text.Has(post.Image)) {
  @imgSvc.Picture(post.Image, settings: imgSettings, imgClass:"img-fluid", imgAlt:post.Title)
}

@* Show info to admin when the post will publish *@
@if(Edit.Enabled && post.PublicationMoment.CompareTo(DateTime.Now) > 0) {
  <div class='alert alert-warning @(Text.Has(post.Image) ? "mb-0" : "mb-3")' role="alert">
    @(Resources.LabelAdminPostPublishInfo + " " + post.PublicationMoment.Date.ToString("d") + " " + post.PublicationMoment.TimeOfDay)
  </div>
}