<div class="container-fluid px-0">
  <div class="row justify-content-between">
    <div class="col-md-6 mb-3">
      <p class="h6">{{ 'SEARCH' | translate }}</p>
      <input matInput (keyup)="applyFilter($event)" type="text" class="form-control" [placeholder]="'SEARCH_COMMENTS' | translate">
    </div>
    <div class="col-md-3 mb-3">
      <p class="h6">{{ 'STATUS' | translate }}</p>
      <select class="form-select" [formControl]="statusControl">
        <option selected value="-1">{{ 'ALL' | translate}}</option>
        <option selected value="0">{{ ('APPROVED' | translate).charAt(0).toUpperCase() + ('APPROVED' | translate).slice(1)}}</option>
        <option selected value="1">{{('DENIED' | translate).charAt(0).toUpperCase() + ('DENIED' | translate).slice(1)}}</option>
        <option selected value="2">{{('UNVERIFIED' | translate).charAt(0).toUpperCase() + ('UNVERIFIED' | translate).slice(1)}}</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <p class="h6">{{ 'TARGET' | translate }}</p>
      <select class="form-select" [formControl]="targetControl">
        <option selected [value]="-1">{{'ALL' | translate}}</option>
        <option *ngFor="let target of targets" [value]="target.id">{{target.title}}</option>
      </select>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let comment"><img class="profile" [src]="comment.profileUrl"></td>
  </ng-container>

  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'AUTHOR' | translate }}
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.displayName }} </td>

  </ng-container>
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'MESSAGE' | translate }}
    </th>
    <td mat-cell *matCellDef="let comment" class="text-truncate pe-2">{{ comment.content }}</td>
  </ng-container>

  <ng-container matColumnDef="target.title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'TARGET' | translate }}
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.target.title }} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'CREATED' | translate }}
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.created }} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'TYPE' | translate }}
    </th>
    <td mat-cell *matCellDef="let comment"> {{ (comment.isReply ? 'REPLY' : 'COMMENT') | translate }} </td>
  </ng-container>

  <ng-container matColumnDef="isPublished">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ 'STATUS' | translate }}
    </th>
    <td mat-cell *matCellDef="let comment">
      <div
        [class]="'badge ' + (comment.isPublished ? 'bg-success' : comment.isDenied ? 'bg-danger' : 'bg-info')">
        {{ ((comment.isPublished ? 'APPROVED' : comment.isDenied ? 'DENIED' : 'UNVERIFIED') | translate) }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let comment" [attr.colspan]="displayedColumns.length">
      <div class="element-detail container-fluid px-0" [@detailExpand]="comment == expandedElement ? 'expanded' : 'collapsed'">
        <div class="my-2">
          <button *ngIf="!comment.isPublished" type="button" class="btn btn-outline-success me-2 mb-2" (click)="$event.stopPropagation(); approveComment(comment.id)">{{ 'APPROVE' | translate}}</button>
          <button *ngIf="!comment.isPublished && !comment.isDenied" type="button" class="btn btn-outline-danger me-2 mb-2" (click)="$event.stopPropagation(); denyComment(comment.id)">{{ 'DENY' | translate}}</button>
          <button type="button" class="btn btn-outline-danger me-2 mb-2" (click)="$event.stopPropagation(); deleteComment(comment.id)">{{ 'DELETE' | translate}}</button>
          <button type="button" class="btn btn-outline-danger me-2 mb-2" (click)="blockIp(comment.ip)">{{ 'BLOCK_IP' | translate }}</button>
        </div>
        <div class="row mb-3">
          <div class="col">
            <p class="h6">{{ 'MESSAGE' | translate }}</p>
            {{ comment.content }}
          </div>
          <div class="col-md-3">
            <p class="h6">IP</p>
            {{ comment.ip }}
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
