<div class="container-fluid px-0">
  <div class="row justify-content-between">
    <div class="col-md-6 mb-3">
      <input matInput (keyup)="applyFilter($event)" type="text" class="form-control" placeholder="Search comments...">
    </div>
    <div class="col-md-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Target</option>
        <option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</option>
      </select>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let comment"><img class="profile" src="http://ipa-entwicklung.dnndev.me/Portals/0/2sxc/Blog5/images/default-avatar.png"></td>
  </ng-container>

  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Author
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.displayName }} </td>
  </ng-container>

  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Message
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.content }} </td>
  </ng-container>

  <ng-container matColumnDef="target">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Target
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.target.title }} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Created
    </th>
    <td mat-cell *matCellDef="let comment"> {{ comment.created | date: 'dd.MM.yyyy, hh:mm' }} </td>
  </ng-container>

  <ng-container matColumnDef="isPublished">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Status
    </th>
    <td mat-cell *matCellDef="let comment"> <div [class]="'badge ' + (comment.isPublished ? 'bg-success' : 'bg-danger')">{{ comment.isPublished ? "approved" : "unapproved" }}</div></td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      Actions
    </th>
    <td mat-cell *matCellDef="let comment">
      <button *ngIf="!comment.isPublished" type="button" mat-icon-button (click)="approveComment(comment.id)" class="me-2">
        <mat-icon>done</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
